@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/*MOBILE VERSION*/

@media only screen and (max-width: 500px) {
    * {
        padding: 0;
        margin: 0;
        border: 0;
    }
    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
     :focus,
     :active {
        outline: none;
    }
    a:focus,
    a:active {
        outline: none;
    }
    nav,
    footer,
    header,
    aside {
        display: block;
    }
    html,
    body {
        height: 100%;
        width: 100%;
        font-size: 100%;
        line-height: 1;
        font-size: 14px;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    input,
    button,
    textarea {
        font-family: inherit;
    }
    input::-ms-clear {
        display: none;
    }
    button {
        cursor: pointer;
    }
    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    a,
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    ul li {
        list-style: none;
    }
    body {
        max-width: 320px;
        width: 320px;
        margin: 0px auto;
    }
    div.x-box {
        position: relative;
        top: 17px;
        left: 62px;
        display: block;
        z-index: 3;
        height: 16px;
    }
    div.menu-container {
        max-width: 320px;
        width: 320px;
        max-height: 220px;
        height: 220px;
    }
    img.menu-border {
        width: 320px;
        height: 92.51+34.93px;
        position: absolute;
        top: 25px;
    }
    div.content-box {
        display: none;
    }
    div.logo-box {
        position: relative;
        left: -124px;
        width: 78px;
        height: 49px;
        z-index: 1;
    }
    .logo-box img {
        width: 78px;
        height: 49px;
    }
    .item {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #060606;
        margin-top: 51px;
    }
    .item:hover {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #060606;
        border-bottom: 3px solid #FFA800;
    }
    div.video-container {
        position: absolute;
        top: 48px;
        background-image: url(/assets/img/Sparkle\ Video\ 1.png);
        background-size: 320px;
        width: 320px;
        height: 169px;
        z-index: -1;
    }
    .paragraph-container p.SparkleHeart {
        position: relative;
        width: 285px;
        height: 124px;
        margin: 0 auto;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #2F4858;
        margin-top: 79px;
    }
    img.play-button {
        width: 73px;
        height: 70px;
        margin: 0px;
    }
    div.button-box {
        position: relative;
        top: 100px;
        left: 125px;
        width: 83px;
        height: 80px;
    }
    div.photos-container {
        margin-top: 50px;
    }
    div.flex-container {
        display: flex;
        flex-wrap: wrap;
        padding-top: 18px;
        width: 320px;
    }
    .flex-container :nth-child(1) {
        order: 4;
    }
    .flex-container :nth-child(2) {
        order: 5;
    }
    .flex-container :nth-child(3) {
        order: 1;
    }
    .flex-container :nth-child(4) {
        order: 2;
    }
    .flex-container :nth-child(5) {
        order: 3;
    }
    div.flex-container .first img {
        margin-top: -8px;
        width: 168px;
        height: 183px;
    }
    div.flex-container .fifth img {
        margin-top: 0px;
        width: 184px;
        height: 174px;
    }
    .flex-container .third img {
        margin-top: 15px;
        width: 136px;
        height: 82px;
    }
    .flex-container .fourth img {
        width: 136px;
        height: 85px;
    }
    div.flex-container .second img {
        margin-top: -9px;
        width: 152px;
        height: 183px;
    }
    div.top-border {
        position: absolute;
        width: 320px;
        height: 55px;
    }
    div.bottom-border {
        position: relative;
        top: -40px;
        width: 320px;
        height: 55px;
    }
    .photos-column {
        display: flex;
        flex-direction: column;
    }
    .photo {
        line-height: 0;
    }
    div.question-container {
        width: 320px;
        height: 29px;
        margin-top: 70px;
    }
    div.question-container h2 {
        font-family: Oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: #2F4858;
    }
    .buttons-container button {
        border-radius: 24px;
        height: 50px;
        width: 233px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        background-color: #FFA800;
        margin: 0 auto;
    }
    div.first-question {
        position: relative;
        width: 394px;
        height: 29px;
        left: -32px;
        top: 6px;
    }
    div.second-question {
        position: relative;
        top: 165px;
        left: 20px;
        width: 280px;
        height: 55px;
    }
    div.first-button {
        position: relative;
        width: 233px;
        height: 50px;
        left: 47px;
        top: 35px;
    }
    div.second-button {
        position: relative;
        width: 233px;
        height: 50px;
        top: 200px;
        left: 47px;
    }
    div.form-header h2 {
        font-family: Oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #2F4858;
        margin-top: 320px;
    }
    div.form-content {
        width: 320px;
        margin: 0 auto;
        margin-top: 28px;
        margin-left: 20px;
    }
    div.form-flexbox {
        display: block;
    }
    div.name input {
        width: 280px;
        height: 35px;
        background: rgba(196, 196, 196, 0.4);
        border-radius: 6px;
    }
    div.email input {
        width: 280px;
        height: 35px;
        background: rgba(196, 196, 196, 0.4);
        border-radius: 6px;
        margin-left: 0px;
        margin-top: 10px;
    }
    div.telephone input {
        width: 280px;
        height: 35px;
        background: rgba(196, 196, 196, 0.4);
        border-radius: 6px;
        margin-top: 10px;
    }
    div.comment input {
        width: 280px;
        height: 150px;
        background: rgba(196, 196, 196, 0.4);
        border-radius: 6px;
        margin-top: 12px;
    }
    div.form-container ::placeholder {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.015em;
        color: #2F4858;
    }
    div.form-container .comment input::placeholder {
        position: relative;
        top: -58px;
    }
    .form-container input {
        padding: 13px 0px 10px 12px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.015em;
        color: #2F4858;
    }
    div.text-info {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        width: 280px;
        height: 18px;
        margin-top: 10px;
    }
    div.checkbox {
        width: 243px;
        height: 63px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #2F4858;
        margin-top: 10px;
    }
    label.label-text {
        top: -16px;
        left: 35px;
        position: relative;
        display: block;
        width: 243px;
        height: 63px;
    }
    div.submit-box {
        width: 140px;
        height: 48px;
        margin-left: 70px;
        margin-top: 50px;
    }
    div.form-content .submit-box input {
        width: 140px;
        height: 48px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        padding-left: 50px;
        padding-top: 8px;
    }
    div.logo-container {
        margin-top: 100px;
        width: 320px;
        height: 533.32px;
        background-image: linear-gradient(transparent 50px, #2F4858 10px);
    }
    div.logo-header h3 {
        position: relative;
        top: -352px;
        font-family: Oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #2F4858;
    }
    div.logo-flexbox {
        display: block;
        position: relative;
        width: 320px;
        top: -270px;
    }
    .logo-flexbox .logo-4 {
        margin-top: -19px;
    }
    div.orange-box {
        width: 320px;
        height: 455px;
        background-image: url("/assets/img/Subtractfooter.svg");
        background-position-x: -752px;
        background-position-y: 0px;
        background-size: 1366px 455px;
    }
    div .orange-bg {
        display: none;
    }
    .logo-1 img {
        position: relative;
        left: -149px;
        top: -20px;
        width: 135px;
        height: 44px;
    }
    .logo-2 img {
        position: relative;
        left: 85px;
        top: -70px;
        width: 130px;
        height: 50px;
    }
    .logo-3 img {
        position: relative;
        left: -64px;
        top: -37px;
        width: 131px;
        height: 44px;
    }
    .logo-4 img {
        position: relative;
        left: 125px;
        top: -70px;
        width: 48px;
        height: 67px;
    }
    div.footer-info {
        width: 320px;
        height: 483px;
        background-color: #2F4858;
        display: block;
    }
    .footer-info li {
        list-style: none;
    }
    div.footer-logo {
        margin-top: -75px;
        margin-left: 21px;
    }
    .footer-logo img {
        width: 100px;
        height: 100px;
    }
    div.footer-logo p {
        margin-top: 300px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
    div.footer-menu {
        display: none;
    }
    div.rekviziti {
        display: none;
    }
    div.footer-autor {
        margin-left: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        margin-top: -278px;
        text-align: left;
    }
    div.footer-autor li:first-child {
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
    div.footer-autor li:nth-child(2) {
        padding-top: 8px;
    }
    div.footer-autor li:nth-child(3) {
        margin-top: 13px;
    }
    .footer-img-flexbox {
        margin-top: 52px;
    }
    img.footer-first-image {
        margin-right: 32px;
        width: 12.5px;
        height: 25px;
    }
    img.footer-second-image {
        margin-top: 13px;
        width: 25px;
        height: 25px;
    }
    div.skatit-rekvizitus {
        display: block;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        position: relative;
        top: -128px;
        left: 21px;
    }
    p.privacy {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        color: #FFFFFF;
        position: relative;
        left: -287px;
        top: 8px;
    }
    .desktop {
        display: none;
    }
    .footer-logo p.mobile {
        display: block;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        color: #FFFFFF;
        margin-top: 270px;
    }
    button:hover {
        background-color: #FFDA16;
    }
    button:active {
        background-color: #FF8A00;
    }
    .form-content .submit-box input:hover {
        background-color: #FFDA16;
    }
    .form-content .submit-box input:active {
        background-color: #FF8A00;
    }
    button#toTheTop {
        display: none;
        position: fixed;
        bottom: 1%;
        right: 10%;
        z-index: 5;
        border: none;
        outline: none;
        background-image: url(/assets/img/free-arrow-up-icon-2826-thumb.png);
        background-color: #FF8A00;
        background-size: 40px;
        cursor: pointer;
        padding: 20px;
        border-radius: 50%;
    }
}


/*
***************

DESKTOP VERSION

***************
*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

 :focus,
 :active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

body {
    width: 1366px;
    margin: 0px auto;
}

.x-box {
    display: none;
}

.menu-container {
    display: flex;
    width: 1366px;
    height: 762px;
}

.menu-border {
    width: 1366px;
    height: 92.51+34.93px;
    position: absolute;
}

.content-box {
    display: flex;
    z-index: 1;
}

.logo-box {
    margin-left: 62px;
    width: 159px;
    height: 146px;
    z-index: 1;
}

.item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #060606;
    margin-top: 51px;
}

.item:hover {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #060606;
    border-bottom: 3px solid #FFA800;
}

.content-box :first-child {
    margin-left: 84px;
}

.content-box :nth-child(2),
.content-box :nth-child(4),
.content-box :nth-child(5) {
    margin-left: 35px;
}

.content-box :nth-child(3),
.content-box :nth-child(6) {
    margin-left: 27px;
}

.content-box :last-child {
    margin-left: 54px;
    width: 29px;
    height: 24px;
}

.content-box :nth-child(1) {
    width: 46px;
    height: 24px;
}

.content-box :nth-child(2) {
    width: 130px;
    height: 24px;
}

.content-box :nth-child(3) {
    width: 120px;
    height: 24px;
}

.content-box :nth-child(4) {
    width: 123px;
    height: 24px;
}

.content-box :nth-child(5) {
    width: 153px;
    height: 24px;
}

.content-box :nth-child(6) {
    width: 188px;
    height: 24px;
}

.video-container {
    position: absolute;
    top: 47px;
    background-image: url(/assets/img/Sparkle\ Video\ 1.png);
    width: 1366px;
    height: 722px;
    z-index: -1;
}

p.SparkleHeart {
    position: relative;
    width: 654px;
    height: 114px;
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 157px;
}

.play-button {
    margin-top: 350px;
    margin-left: 620px;
}

.button-box {
    position: absolute;
    width: 86px;
    height: 83px;
}

.photos-container {
    margin-top: 150px;
}

.flex-container {
    display: flex;
    padding-top: 18px;
}

.flex-container .first img {
    margin-top: -4px;
}

.flex-container .fifth img {
    margin-top: -18px;
}

.flex-container .second,
.third img {
    padding-top: 1px;
}

.top-border {
    position: absolute;
    width: 1366px;
    height: 55px;
}

.bottom-border {
    position: relative;
    top: -40px;
    width: 1366px;
    height: 55px;
}

.photos-column {
    display: flex;
    flex-direction: column;
}

.photo {
    line-height: 0;
}

.question-container {
    height: 29px;
    margin-top: 110px;
}

.question-container h2 {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #2F4858;
}

.buttons-container button {
    border-radius: 24px;
    height: 50px;
    width: 233px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #FFA800;
    margin: 0 auto;
}

.first-question {
    position: relative;
    width: 394px;
    height: 29px;
    left: 220px;
}

.second-question {
    position: relative;
    top: -29px;
    left: 698px;
    width: 500px;
    height: 29px;
}

.first-button {
    position: relative;
    width: 233px;
    height: 50px;
    left: 300px;
    top: 50px;
}

.second-button {
    position: relative;
    width: 233px;
    height: 50px;
    top: 0px;
    left: 832px;
}

.form-header h2 {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #2F4858;
    margin-top: 150px;
}

.form-content {
    width: 612px;
    margin: 0 auto;
    margin-top: 58px;
}

.form-flexbox {
    display: flex;
}

.name input {
    width: 296px;
    height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

.email input {
    width: 296px;
    height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    margin-left: 20px;
}

.telephone input {
    width: 612px;
    height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    margin-top: 15px;
}

.comment input {
    width: 612px;
    height: 232px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    margin-top: 15px;
}

.form-container ::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    letter-spacing: -0.015em;
    color: #2F4858;
}

.form-container .comment input::placeholder {
    position: relative;
    top: -95px;
}

.form-container input {
    padding: 13px 0px 10px 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #2F4858;
}

.text-info {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2F4858;
    width: 612px;
    height: 25px;
    margin-top: 17px;
}

.checkbox {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2F4858;
    margin-top: 25px;
    margin-left: 2px;
}

.label-text {
    top: -18px;
    left: 38px;
    position: relative;
    display: block;
    width: 572px;
    height: 39px;
}

.submit-box {
    width: 182px;
    height: 62px;
    margin: 0 auto;
    margin-top: 13px;
}

.form-content .submit-box input {
    border-radius: 29px;
    width: 182px;
    height: 62px;
    background-color: #FFA800;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    padding-right: 12px;
    padding-top: 8px;
}

.logo-container {
    margin-top: 150px;
    width: 1366px;
    height: 533.32px;
    background-image: linear-gradient(transparent 50px, #2F4858 10px);
}

.logo-header h3 {
    position: relative;
    top: 102px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #2F4858;
}

.logo-flexbox {
    display: flex;
    position: relative;
    top: 184px;
}

.logo-flexbox .logo-4 {
    margin-top: -19px;
}

.orange-bg {
    position: absolute;
}

.logo-1 {
    margin-left: 168px;
}

.logo-2 {
    margin-left: 85.05px;
}

.logo-3 {
    margin-left: 84.68px;
}

.logo-4 {
    margin-left: 85.04px;
}

.footer-info {
    width: 1366px;
    height: 324.34px;
    background-color: #2F4858;
    display: flex;
}

.footer-info li {
    list-style: none;
}

.footer-logo {
    margin-top: -10px;
    margin-left: 62px;
}

.footer-logo p {
    margin-top: 70px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.footer-menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-left: 137px;
    margin-top: -12px;
    color: #FFFFFF;
}

.footer-menu li:nth-child(2),
.footer-menu li:nth-child(3) {
    margin-top: 24px;
}

.footer-menu li:nth-child(4) {
    margin-top: 20px;
}

.footer-menu li:nth-child(4),
.footer-menu li:nth-child(5) {
    height: 45px;
}

.footer-menu li:first-child {
    margin-left: 3px;
}

.rekviziti {
    margin-left: 109px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: -12px;
}

.rekviziti li:first-child {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.rekviziti li:nth-child(2) {
    margin-top: 18px;
}

.rekviziti li:nth-child(3) {
    margin-top: 10px;
}

.rekviziti li:nth-child(4) {
    margin-top: 9px;
}

.footer-autor {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    width: 390px;
    margin-top: -13px;
}

.footer-autor li:first-child {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #FFFFFF;
    height: 45px;
}

.footer-autor li:nth-child(3) {
    margin-top: 12px;
}

.footer-autor li:nth-child(4) {
    margin-top: 10px;
}

.footer-img-flexbox {
    margin-top: 52px;
}

.footer-first-image {
    margin-right: 24px;
}

.footer-second-image {
    margin-right: -3px;
}

.privacy {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    margin-top: 47px;
    color: #FFFFFF;
}

button:hover {
    background-color: #FFDA16;
}

button:active {
    background-color: #FF8A00;
}

.form-content .submit-box input:hover {
    background-color: #FFDA16;
}

.form-content .submit-box input:active {
    background-color: #FF8A00;
}

#toTheTop {
    display: none;
    position: fixed;
    bottom: 1%;
    right: 15%;
    z-index: 5;
    border: none;
    outline: none;
    background-image: url(/assets/img/free-arrow-up-icon-2826-thumb.png);
    background-color: #FF8A00;
    background-size: 40px;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
}

#toTheTop:hover {
    background-color: #FFDA16;
}

.skatit-rekvizitus {
    display: none;
}

.mobile {
    display: none;
}